
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Reporting & Temporary Folders
scratch/
failure-screenshots/
results.xml
.env
playwright-report.zip
